<html>
<head>
<title>About Us</title>
</head>
<style>
body {
  background: #555;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 10px;
}
</style>

<body>
<header style="background-color:aqua;  height:60px; width:100%%;text-align:center; margin:0spx;">
      <p style="font-size: 30px; color: black;text-align: center; padding-top: 15px;"> Orgnic Farming Online Hub</P>
   </header>
 <div class="container">
 <h3><b>What is Organic Farming Online Hub?</b></h3>
 <p style="font-size: 20px;">This project aims at creation of a platform where Agriculture use Technology.
 This will be accessible to all Users who have a valid User Id and Password. This is an approach to provide an opportunity
 to the Farmers to gain the Knowledge about Organic Farming.
 This is a medium where the farmers can request for the information. The Engineer act as a medium between the Farmers ,
 Thusthe Farmers can gain the good knowledge about organic farming.
 This Project can be useful for Farmers without the involvement of third-party . 
 This project is an internet based computerized approach towards organic farming. 
 </p>
 <h3><b>How Application Works?</b></h3>
 <p style="font-size: 20px;">This application works between the farmers and engineer.Farmers can rise their queries ,
 Engineer will solve the farmers queries.And also this application provides basic information about organic farming.</p>
<h3><b>CONTACT</b></h3>
<p>Organic Farming Online Hub</p>
<p>Mail:organic.hub@gmail.com</p>
<p>ph:8555824250</p> 
 
 
 
 </body>
 </html>