<html
<head>
    <title>About Crops</title>
    <link rel="stylesheet" href="/static/styles/aboutcrops.css">
</head>
<body>
<div class="border">
<h2>Types Of Crops</h2>

<table>
  <tr>
    <th>Crop Nmae</th>
    <th>Duration</th>
    <th>Soil Type</th>
    <th>Season</th>
    <th>Description</th>
  </tr>

    {% for i in crops %}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.time}}</td>
        <td>{{i.soil}}</td>
        <td>{{i.season}}</td>
        <td>{{i.description}}</td>

    </tr>
{% endfor %}


</table>
</div>
</body>
</html>
