<!DOCTYPE html>
<html lang="en">
<head>
<title>Engineer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/1680bae160.js"></script>
<link rel="stylesheet" href="/static/styles/engineer.css">
</head>
<body>

<div class="header">
  <h1><i>ORGANIC FARMING ONLINE HUB</i></h1>
  <p></p>
</div>

<div class="navbar1">
  <a href="backtohome">HOME</a>
  <a href="Farmerdetails">FARMER DETAILS</a>
  <a href="Cropdetails">CROP DETAILS</a>
  <a href="Farmer">FARMER QUIRIES</a>

  <a href="logout" class="right">LOGOUT</a>
</div>


<div class="row">
  <div class="side">
    <h2>Agriculture Engineering</h2>
    <div class="fakeimg1" style="height:200px;">Image</div>
    <p>Agricultural engineering is the engineering agricultural production and processing.
      Agricultural engineering combines the disciplines of mechanical, civil, electrical, Food science and chemical
      engineering principles with a knowledge of agricultural principles according to technological principles. </p>

  </div>
  <div class="main">
    <h3>Why agricultural engineering  is important?</h3>

    <div class="fakeimg2" style="height:300px;"></div>
    <p>Agricultural engineers typically do the following: Design agricultural machinery components and equipment, using computer-aided design (CAD) technology. Test agricultural machinery and equipment to ensure that they perform properly.
      Design food-processing plants and supervise manufacturing operations.</p>
    <br>

    <h3>What do agricultural engineers do?</h3>
    <div class="fakeimg3" style="height:300px;">Image</div>
    <p>Agricultural engineers typically do the following: Design agricultural machinery
      components and equipment, using computer-aided design (CAD) technology. Test agricultural machinery and equipment to ensure that they perform properly.
      Design food-processing plants and supervise manufacturing operations.</p>
   
  </div>
</div>

<div class="footer">
  <h2>Contact Us:organic.hub@gmail.com</h2>

</div>

</body>
</html>