
<html>
<head>
<script src="https://kit.fontawesome.com/1680bae160.js"></script>
<link rel="stylesheet" href="/static/styles/home.css">
</head>
<body>  

<header>
  <ul>
     <li><a href="aboutus"><i class="far fa-user-circle"></i> About Us</a></li>
     <li><a href="#"><i class="fas fa-sign-in-alt"></i> Login <i class="fas fa-sort-down"></i></a>
	     <ul>
		   <li><a href="login">Farmer</a></li>
		   <li><a href="login2">Engineer</a></li>
		   </ul>
	 </li>
     <li><a href="#"><i class="far fa-registered"></i> Register <i class="fas fa-sort-down"></i></a>
	 <ul>
		   <li><a href="farreg">Farmer</a></li>
		   <li><a href="engreg">Engineer</a></li>
		   </ul>
	 </li>
     <li><a href="contact"><i class="fas fa-phone-alt"></i> Contact Us </a></li>
	  <li><a href="aboutcrops"> Crop Details </a></li>
	 </ul>
</header>




</body>
</html>
